
@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}


:root {
    --cor-azul-escuro: #072e5a;
    --cor-ciano: #00adcd;
    --cor-branco: #ffffff;
    --cor-preto: #000000;
    --padding-section: 80px 10%;
    --radius-card: 12px;
    --sombra-leve: 0 10px 30px rgba(0, 0, 0, 0.1);
    --sombra-card: 0 5px 15px rgba(0, 0, 0, 0.05);
}


*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    color: var(--cor-preto);
    background-color: var(--cor-branco);
    line-height: 1.6;
}


a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}
a:hover {
  color: var(--cor-ciano);
}

.nav_cont{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
}

.nav_left{
  display: flex;
  margin-bottom: 24px
}

.logo img {
  height: 150px;
}

.division_line{
  display: flex;
  width: 75%;
  background-color: #00adcd;
  margin: auto;
  margin-bottom: 24px; 
  height: 3px;
}

.nav-links{
  display: flex;
  text-align: center;
  
  & li a{
    font-weight: 400;
    font-size: 30px;
    color: var(--cor-azul-escuro);
  }
}

.nav-links li a.active {
  color: var(--cor-azul-escuro);
  position: relative;
}






nav {
    background-color: var(--cor-branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 140px;
}
nav::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 400px;
    height: 3px;
    background-color: var(--cor-ciano);
}
.logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo img {
    height: 120px;
}

.linha-logo {
    width: 600px;
    height: 3px;
    background-color: var(--cor-ciano);
    margin-top: 5px;
    border-radius: 2px;
    align-items: center;
}
.lang-switch img {
    width: 30px;
    margin-left: 10px;
    cursor: pointer;
}
.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
}
.nav-links li a {
  font-weight: 400;
  font-size: 30px;
  color: var(--cor-azul-escuro);
}

.nav-links li {
  list-style-type: none;
  margin: 0 !important;
}

.nav-links li a.active {
  color: var(--cor-azul-escuro);
  font-weight: 700;
  position: relative;
}

.nav-links li a:hover {
  opacity: 0.7;
}

.separator-line {
    display:flex ;
    max-width: 1300px;
    height: 1px;
    background-color: var(--cor-ciano);
    margin-top: 0px;
    margin-bottom: 15px;
    left: 100px;
    align-items: center;
    position: relative;
}

.institucional-banner {
    position: relative;
    height: 60vh;
    min-height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/img/4.jpg');
    background-size: cover;
    background-position: center;
    color: var(--cor-branco);
    text-align: center;
    padding: 0 20px;
}

.institucional-banner img {
  color: white;
  width: 400px;
  position: relative;
  bottom: -55px;
}

.institucional-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(7, 46, 90, 0.7);
}

.institucional-banner h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 3.5rem;
    margin-bottom: 20px;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.institucional-banner p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    margin: 10px 0;
    position: relative;
}


.logo img {
    height: 150px;
}

.lang-switch img {
    width: 30px;
    margin-left: 10px;
    cursor: pointer;
}

.about {
    background-color: var(--cor-azul-escuro);
    display: flex;
    padding: 80px 10%;
    gap: 50px;
    align-items: center;
}

.about .text{
    flex: 1;
    color: var(--cor-branco);
    letter-spacing: 0.025cm;
    text-align: left;
    margin-right: 15px;
}

.about .image {
    flex: 1;
}

.about .image img {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.valores {
    text-align: center;
    padding: 4rem 2rem;
    background: #fff;
    color: #072e5a;

  }

  .titulo {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .subtitulo {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto 3rem;
    color: var(--cor-azul-escuro);
  }

  .solutions-carousel-wrapper {
    position: relative;
    max-width: 960px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
  }
  
  .solutions-carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .solution {
    flex: 0 0 300px;
    height: 220px;
    margin: 0 10px;
    background-color: var(--cor-azul-escuro);
    color: var(--cor-branco);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 600;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.4s ease;
  }
  
  .solution.visible {
    opacity: 1;
    pointer-events: auto;
  }
  
  .solution.active {
    background-color: var(--cor-ciano);
    transform: scale(1.05);
    border-radius: 8px !important; /* precisei forçar pq ele n estava querendo arrendondar as pontas */
    overflow: hidden;
  }
  
  .solutions .btn.dark {
    margin-top: 40px;
  }
  
  
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 36px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--cor-azul-escuro);
    z-index: 10;
  }
  
  .arrow.left {
    left: -40px;
  }
  
  .arrow.right {
    right: -40px;
  }
  
  

.parceiros {
    padding: 80px 10%;
    text-align: center;
    margin-top: -50px;
}

.parceiros h2 {
    color: var(--cor-azul-escuro);
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.parceiros p {
    color: var(--cor-azul-escuro);
    margin-bottom: 50px;
    font-size: 2x;
}

.parceiros-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    align-items: center;
    justify-items: center;
}

.parceiro-logo {
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -300px;
    margin-top: -250px;
}

.parceiro-logo img {
    max-height: 100%;
    max-width: 100%;
   
}

.parceiro-logo img:hover {
    filter: grayscale(0%);
    opacity: 1;
}

.certificados {
    padding: 80px 10%;
    background-color: var(--cor-azul-escuro);
  }
  
  .certificados-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
  }
  
  .certificados-texto {
    flex: 1;
    min-width: 280px;
    color: white;
  }
  
  .certificados-texto h2 {
    font-size: 3.3rem;
    color: white;
    margin-bottom: 20px;
  }
  
  .certificados-texto p {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 30px;
    max-width: 500px;
  }
  
  .btn-branco {
    background: white;
    color: var(--cor-azul-escuro);
    border: 2px solid white;
    padding: 12px 25px;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .btn-branco:hover {
    background: var(--cor-azul-escuro);
    color: white;
    border: 2px solid white;
  }
  
  .carousel-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    perspective: 1000px;
  }
  
  .carousel {
    position: relative;
    width: 400px;
    height: 220px;
  }
  
  /* Estilo base dos slides */
  .slide {
    position: absolute;
    top: 0;
    left: 45%;
    width: 100%;
    height: 100%;
    background-color: white;
    color: #002b5c;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    font-weight: bold;
    opacity: 0;
    transform: translateX(-50%) scale(0.8);
    transition: all 0.8s ease-in-out;
    z-index: 0;
  }
  
  /* Slide centralizado */
  .slide.active {
    opacity: 1;
    transform: translateX(-50%) scale(1);
    z-index: 3;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  }
  
  /* Slide esquerda */
  .slide.prev {
    opacity: 0.5;
    transform: translateX(-120%) scale(0.9);
    z-index: 2;
  }
  
  /* Slide direita */
  .slide.next {
    opacity: 0.5;
    transform: translateX(20%) scale(0.9);
    z-index: 2;
  }
  
  /* subtÃ­tulo do card */
  .slide .sub {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    position: relative;
    top: 10px;
  }
.contato {
    padding: 80px 10%;
    text-align: center;
}

.contato h2 {
    color: var(--cor-azul-escuro);
    font-size: 2rem;
    margin-bottom: 30px;
}
.footer_logo{

    & a > img{
      height: 200px;
      }
  
  }
  
  .footerdiv{
    border-bottom: 3px #00adcd solid;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 50px auto;
  }
  
  .footer_infos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    padding: 70px;
  }
  
  .fale_button{
    color: white;
    background-color: #072e5a;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 24px;
  }
  .contato-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px; 
    margin-bottom: 20px;
    width: 100%;
  }
  
  .col {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  .col p {
    margin: 1px 0;
    display: flex;
    align-items: center;
  }
  
  .col i {
    margin-right: 10px;
    width: 20px;
    text-align: center;
  }
  
  .email-group {
    position: relative;
  }
  
  .secondary-email {
    padding-left: 30px; 
  }
  

  .col p i.fa-envelope {
    margin-right: 10px;
    width: 20px;
  }
  
  .contato-endereco {
    text-align: center;
  
  }
  
  .contato-endereco p {
    display: flex;
    justify-content: center;
    margin: 5px 0;
  }
  
  .contato-endereco i {
    margin-right: 10px;
    padding-top: 5px;
  }



/* Responsivo */


/* tablets*/
@media(min-width : 480px){
  
  .about .text {
    flex: 1;
    color: var(--cor-branco);
    letter-spacing: 0.025cm;
    text-align: left;
    margin-right: 30%;
}
}


/* desktops menores*/
@media(min-width : 768px){
  .about .text {
    flex: 1;
    color: var(--cor-branco);
    letter-spacing: 0.025cm;
    text-align: left;
    margin-right: 45%;
}

}

/* telas grandes*/
@media (min-width : 1024px){
  .about .text{
    flex: 1;
    color: var(--cor-branco);
    letter-spacing: 0.025cm;
    text-align: left;
    margin-right: 55%;
}
}


@media (max-width: 1024px) {
    .institucional-banner h1 {
        font-size: 2.8rem;
    }
    
    .institucional-banner p {
        font-size: 1.2rem;
    }
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        padding: 15px 20px;
        gap: 15px;
    }
    
    .nav-links {
        gap: 20px;
    }
    
    .institucional-banner h1 {
        font-size: 2.2rem;
    }
    
    .institucional-banner p {
        font-size: 1rem;
    }
    
    .valores-grid {
        grid-template-columns: 1fr;
    }
    
    .parceiros-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .nav-links {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    
    .institucional-banner h1 {
        font-size: 1.8rem;
    }
}
